<div class="mainDiv">
    <div class="secondaryDiv"> 
        <input placeholder="" />
        <label for="name">First Name</label>
    </div>
    <div class="secondaryDiv"> 
        <input placeholder="" />
        <label for="lastname">Last Name</label>
    </div>
    <div class="secondaryDiv"> 
        <input placeholder="" />
        <label for="email">Email</label>
    </div>
    <div class="secondaryDiv"> 
        <input placeholder="" />
        <label for="spiritanimal">Spirit Animal</label>
    </div>
</div>